<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>PGroup</title>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Custom Fonts -->
  <link rel="stylesheet" href="/custom-font/fonts.css" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/font-awesome.min.css" />
  <!-- <link rel="stylesheet" href="css/fontawesome.css"> -->
  <!-- Bootsnav -->
  <link rel="stylesheet" href="/css/bootsnav.css">
  <!-- Fancybox -->
  <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css?v=2.1.5" media="screen" />
  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="/css/custom.css" />
  <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body>
  <!-- Header -->
  <header>

    <!-- Navbar -->
    <nav class="navbar bootsnav">
      <div class="container">
        <!-- Atribute Navigation -->
        <!-- Header Navigation -->
        <div class="navbar-header">
          <a class="navbar-brand" href="">PGroup</a>
          <button class="navbar-btn">
            <div class="navTrigger"  type="button"  data-toggle="collapse" data-target="#navbar-menu">
              <i></i><i></i><i></i>
            </div>
          </button>
        </div>
        <!-- Navigation -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav menu">
            <li>
              <a href="#about">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                About Us
              </a>
            </li>
            <li><a href="#partners"><i class="fa fa-server" aria-hidden="true"></i> Partners</a></li>
            <li><a href="#portfolio"><i class="fa fa-files-o" aria-hidden="true"></i> Portfolio</a></li>
            <li><a href="#contact_form"><i class="fa fa-phone-square" aria-hidden="true"></i> Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav><!-- Navbar end -->
  </header><!-- Header end -->


  <section id="home" class="home">
    <!-- Carousel -->
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Carousel-inner -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/assets/slide-1.jpg" alt="Construction">
          <div class="overlay">
            <div class="carousel-caption">
              <h3>We are Certified Engineers</h3>
              <h1>Construction Services</h1>
            
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, debitis omnis harum voluptatem odit nobis aliquam qui adipisci accusantium tempora suscipit delectus exercitationem repudiandae possimus quod nihil ipsa doloremque cumque?</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/slide-2.jpg" alt="Construction">
          <div class="overlay">
            <div class="carousel-caption">
              <h3>We are Certified Engineers</h3>
              <h1>Construction Services</h1>
             
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, assumenda vel? Quas laudantium reiciendis nesciunt, itaque ducimus ex neque velit?</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/slide-3.jpg" alt="Construction">
          <div class="overlay">
            <div class="carousel-caption">
              <h3>We are Certified Engineers</h3>
              <h1>Construction Services</h1>
           
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis aliquam labore assumenda neque recusandae tenetur porro ut aperiam accusantium incidunt?</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/slide-4.jpg" alt="Construction">
          <div class="overlay">
            <div class="carousel-caption">
              <h3>We are Certified Engineers</h3>
              <h1>Construction Services</h1>
             
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis aliquam labore assumenda neque recusandae tenetur porro ut aperiam accusantium incidunt?</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/slide-5.jpg" alt="Construction">
          <div class="overlay">
            <div class="carousel-caption">
              <h3>We are Certified Engineers</h3>
              <h1>Construction Services</h1>
           
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis aliquam labore assumenda neque recusandae tenetur porro ut aperiam accusantium incidunt?</p>
            </div>
          </div>
        </div>
      </div><!-- Carousel-inner end -->



      <!-- Controls -->
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- Carousel end-->

  </section>


  <!-- About -->
  <section id="about">
    <div class="container about_bg">
      <div class="row">
        <div class="col-lg-7 col-md-6">
          <div class="about_content">
            <h2>Welcome to Pgroup</h2>
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti itaque nisi dicta ratione labore illum ipsum, animi quia ipsam maiores.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat modi error expedita accusantium? Nobis, harum accusantium tenetur ducimus non a distinctio laudantium, aspernatur sit consequatur incidunt! Maxime recusandae deleniti blanditiis. </p>
            <a class="btn know_btn">know more</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-lg-offset-1">
          <div class="about_banner">
            <img src="images/man.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section><!-- About end -->

  <!-- Why us -->
  <section id="why_us">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="head_title">
            <h2>WHY CHOOSE US?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="why_us_item">
            <span class="fa fa-futbol-o"></span>
            <h4>Always on time</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad provident eum ab exercitationem aspernatur voluptates!
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="why_us_item">
            <span class="fa fa-group"></span>
            <h4>We are pasionate</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum omnis ratione sunt! Sint, labore temporibus?
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="why_us_item">
            <span class="fa fa-line-chart"></span>
            <h4>Professional Services</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum voluptate eum culpa quos voluptatum? Accusamus?
            </p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- Why us end -->

  <!-- Partners -->
  <section id="partners">
    <div class="container">
      <h2>PARTNERS</h2>
      <div class="row">
        <% if (partners) { %> 
          <% partners.forEach %>
          <% partners.forEach(function(partner) { %>
            <div class="col-md-4">
              <div class="service_item">
                <img src="<%= partner.PartnerImage.image.split('/public')[1] %>" alt="" />
                <p><%= partner.partnerImage %></p>
                <h3><%= partner.name %></h3>
                <p><%= partner.description %></p>
                <% if(partner.present === true) {%>
                  <p><%= partner.startDate.toLocaleString("az-AZ") %> - Present</p>
                <% } else { %>
                  <p><%= partner.stopDate.toLocaleString("az-AZ") %> - <%= partner.stopDate.toLocaleString("az-AZ") %></p>
                  <% } %>
                <% if (partner.link) { %>
                <a href="<%= partner.link %>" class="btn know_btn" target="_blank">know more</a>
                <% } else { %>
                <a href="" class="btn know_btn">know more</a>
                <% } %>
              </div>
            </div>
          <% }); %>
        <% } %>

      </div>
    </div>
  </section><!-- Services end -->

  <!-- Portfolio -->
  <section id="portfolio">
    <div class="container portfolio_area text-center">
      <h2>Portfolio</h2>
      <!-- Portfolio grid -->
      <div class="grid">
        <div class="grid-sizer"></div>
        <% for (let workImage of workImages) { %>
          <% if (workImages.indexOf(workImage) === 0) { %>
            <div class="grid-item grid-item--width2 grid-item--height2 buildings plumbing interior">
              <img alt="" src="<%= workImage.image.split('/public')[1] %>">
                <a class="fancybox" href="images/highligh_img.jpg" data-fancybox-group="gallery"
                  title="Lorem ipsum dolor sit amet"></a>
            </div>
          <% } else { %>
            <div class="grid-item buildings interior isolation">
              <img alt="" src="<%= workImage.image.split('/public')[1] %>">
              <div class="portfolio_hover_area">
                <a class="fancybox" href="images/portfolio1.jpg" data-fancybox-group="gallery"
                  title="Lorem ipsum dolor sit amet"></a>
              </div>
            </div>
          <% } %>
        <% } %>
        <!-- <div class="grid-item buildings interior isolation">
          <img alt="" src="images/portfolio1.jpg">
          <div class="portfolio_hover_area">
            <a class="fancybox" href="images/portfolio1.jpg" data-fancybox-group="gallery"
              title="Lorem ipsum dolor sit amet"></a>
          </div>
        </div>

        <div class="grid-item interior plumbing isolation">
          <img alt="" src="/images/portfolio2.jpg">
          <div class="portfolio_hover_area">
            <a class="fancybox" href="/images/portfolio2.jpg" data-fancybox-group="gallery"
              title="Lorem ipsum dolor sit amet"></a>
          </div>
        </div>

        <div class="grid-item isolation buildings">
          <img alt="" src="/images/portfolio3.jpg">
          <div class="portfolio_hover_area">
            <a class="fancybox" href="images/portfolio3.jpg" data-fancybox-group="gallery"
              title="Lorem ipsum dolor sit amet"><span class="fa fa-search"></span></a>
            <a href="#"><span class="fa fa-link"></span></a>
          </div>
        </div>

        <div class="grid-item plumbing isolation">
          <img alt="" src="/images/portfolio4.jpg">
          <div class="portfolio_hover_area">
            <a class="fancybox" href="/images/portfolio4.jpg" data-fancybox-group="gallery"
              title="Lorem ipsum dolor sit amet"><span class="fa fa-search"></span></a>
            <a href="#"><span class="fa fa-link"></span></a>
          </div>
        </div> -->
      </div><!-- Portfolio grid end -->
    </div>
  </section><!-- Portfolio end -->

  <!-- Contact form -->
  <section id="contact_form">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Do you have any questions?</h2>
          <h2 class="second_heading">Contact us</h2>
        </div>
        <form role="form" class="form-inline text-right col-md-6" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Name" name="name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email" name="email">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="5" id="msg" placeholder="Message" name="message"></textarea>
          </div>
          <button type="submit" class="btn submit_btn">Submit</button>
        </form>
      </div>
    </div>
  </section><!-- Contact form end -->

  <!-- Footer -->
  <footer>
    <!-- Footer top -->
    <div class="container footer_top">
      <div class="row">
        <div class="col-lg-9 col-sm-7">
          <div class="footer_item">
            <h4>About Company</h4>
            <!-- <img class="logo" src="images/logo.png" alt="Construction" />About -->
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid earum autem necessitatibus vel ipsum sit sequi pariatur quo quos error architecto officiis beatae, nobis blanditiis dicta iure excepturi laborum doloremque.</p>

            <ul class="list-inline footer_social_icon">
              <li><a href=""><span class="fa fa-facebook"></span></a></li>
              <li><a href=""><span class="fa fa-twitter"></span></a></li>
              <li><a href=""><span class="fa fa-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-5">
          <div class="footer_item">
            <h4>Contact us</h4>
            <ul class="list-unstyled footer_contact">
              <li><a href=""><span class="fa fa-map-marker"></span> Baku, Azerbaijan</a></li>
              <li><a href=""><span class="fa fa-envelope"></span> example@example.cm</a></li>
              <li><a href="tel:+994555555555"><span class="fa fa-mobile"></span> +994 55 555 55 55</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer top end -->

  </footer><!-- Footer end -->

  <!-- JavaScript -->
  <script src="/js/jquery-1.12.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <!-- Bootsnav js -->
  <script src="/js/bootsnav.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/js/isotope.js"></script>
  <script src="/js/isotope-active.js"></script>
  <script src="/js/jquery.fancybox.js?v=2.1.5"></script>

  <script src="/js/jquery.scrollUp.min.js"></script>

  <script src="/js/main.js"></script>
</body>

</html>